<footer class='footer mt-auto py-3 text-center bg-dark text-light container-fluid'>
  {% if site_id == 1 or site_id == 2 %}
  <div class='row  pl-0 pr-0  ml-0 mr-0 pt-1'>
    <div class="col-md-12">
      <div class='alert alert-danger pb-1'>
        <h4>TEST VERSION</h4>
      </div>
    </div>
  </div>
  {% endif %}
  <small>
    <div class="row pl-0 pr-0 ml-0 mr-0">
        <div class="col-md-12 ">
            Η ιστοσελίδα έχει αναπτυχθεί με χρήση Ανοιχτού Λογισμικού από τη Διεύθυνση Ηλεκτρονικής Διακυβέρνησης και Επικοινωνιών του ΥΝΑΝΠ/ΛΣ-ΕΛΑΚΤ
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <center>Copyright © 2021 &lt;<a class="" href="http://www.hcg.gr">ΛΣ-ΕΛ.ΑΚΤ</a>&gt; 
            - <a target="_blank" href="https://www.hcg.gr/documents/863/all_cookies.pdf">Πολιτική Cookies Φορέα</a>
            - <a target="_blank" href="https://www.hcg.gr/el/epikoinwnia/gdpr/?slug=dgul">Προσωπικά δεδομένα</a> 
            </center>
        </div>
    </div>
  </small>
  
</footer>
