{% extends "site_base.html" %}
{% load core_tags %}
{% load static %}
{% load i18n %}
{% block extra_style %}
<style>

</style>
{% endblock %}
{% block head_title %}E · T · S · D{% endblock %}
{% block body_class %}home{% endblock %}

{% block body %}
  <div class="bg-primary bg-gradient rounded-lg p-4 mb-5 text-light text-center rounded-1">
    <h1 class="display-3">E · T · S · D</h1>
    <h3 class="display-6">{% trans "Electronic Transmission of Sensitive Data" %}</h1>
    <p>{% trans "You can use this app to transmit sensitive data across your organization" %}</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>{% trans "Encrypted messaging" %}</h2>
      <p>
          <p>
        {% blocktrans %}
            This app can be used to transmit messages containing encrypted data between authorities.
            The OpenPGP standard is used to encrypt the data using the fully client-side OpenPGPjs implementation.
            This means that the encryption and decryption of the data is performed only in the user's computer so
            no plaintext ever reaches the server.
        {% endblocktrans %}
          </p>
          <p>
        {% blocktrans %}
            Following the principles of Public Key Cryptography, any Authority can send encrypted messages however 
            only Authorities that do have an approved private/public key pair can receive these encrypted messages.
            This is required because the public key of the receiving Authority must be used to encrypt the message
            so only this Authority will be able to decrypt it using its private part of the key.
        {% endblocktrans %}
          </p>
      </p>
    </div>
    <div class="col-md-4">
      <h2>{% trans "Key management" %}</h2>
      <p>
          <p>
        {% blocktrans %}
            Using this app you can generate a private/public key pair for your Authority. The private key will be encrypted with a passphrase.
            Both the private key and the passphrase must be saved by the user in a safe place. Neither of them is ever send to
            the server. The public key will be submitted to the server and must be approved from the app administrators in
            order to be used. After the public key of an authority has been approved, the authority can receive messages with encrypted 
            data.
        {% endblocktrans %}
          </p>
          <p>
        {% blocktrans %}
            In order to quickly decrypt the data of his Authority, the user can "load" the private key to his session. This means that 
            this key will be decrypted with its passphrase and saved in the user's browser for as long as the user is logged in to the app.
            That key will be then used to decrypt the encrypted data of the users' Authority.
        {% endblocktrans %}            
          </p>

      </p>
      
    </div>
    
    <div class="col-md-4">
      {% if user.is_authenticated %}
        {% get_user_authority as user_authority %}

          <h4>{% trans "Welcome," %} {{ user }}</h4>
          <h6>
            {% if user_authority %}{{ user_authority }}{% else %}{% trans "No user authority" %}{% endif %}
          </h6>
          {% if perms.core.admin and perms.core.user %}
            <em>{% trans "Admin and user access" %}</em>
          {% elif perms.core.admin %}
            <em>{% trans "Admin access" %}</em>
          {% elif perms.core.user %}
            <em>{% trans "User access" %}</em>
          {% else %}
            <em>{% trans "No access!" %}</em>
          {% endif %}
      
          <hr />
      
          {% if perms.core.admin or  perms.core.user %}
            <a class="btn btn-primary btn-sm" href="{% url 'public_key_list' %}" role="button">{% trans "Public key list" %}</a>
            {% if user_authority %}
              <a class="btn btn-warning btn-sm" href="{% url 'authority_update_data' user_authority.id %}" role="button">{% translate "Edit Authority Data" %}</a></p> 
            {% endif %}
          {% endif %}
          {% if perms.core.user %}
              <a class="btn btn-primary btn-sm" href="{% url 'participant_list' %}" role="button">{% trans "Messages" %}</a>
              <a class='btn btn-warning btn-sm' href='{% url "privatekey_load" %}' role="button">{% trans "Load private key" %}</a>    
          {% endif %}
          {% if perms.core.admin %}
            <a class="btn btn-primary btn-sm" href="{% url 'message_list' %}" role="button">{% trans "All Messages" %}</a>
              <a class="btn btn-danger btn-sm" href="{% url 'authority_list' %}" role="button">{% translate "Authorities" %}</a></p>              
          {% endif %}
              
      {% else %}
        <p>
          {% trans "Please login to use this site!" %}
        </p>
        <a class="btn btn-primary" href="{% url 'auth_login' %}" role="button">{% translate "Log in" %}</a></p>
      {% endif %}
      <div class='alert alert-warning'>
        {% blocktrans %}
        To use this app you need to have a <u>recent browser version, preferably Chrome or Firefox</u>. The app may work
        in other Browsers but it is not guaranteed.
        {% endblocktrans %}
      </div>
    </div>
  </div>
    
{% endblock %}

{% block extra_script %}
<script>
  //let who = 'world'
  //console.log(interpolate(gettext('Hello %s!'), [who]))
</script>
{% endblock %}