{% extends "site_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n static %}


{% block head_title %}{% blocktrans %}Edit Authority Data{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans %}Edit Authority Data{% endblocktrans %}{% endblock %}
{% block page_content %}

<div class='alert alert-info'>
  {% blocktrans with auth=form.instance.name %}
  <b>Below are Authority's {{auth}} active users. </b><br>
  You can remove users by pressing the "x" next to their name or add more by typing their username/last name/email and selecting them.
  <br>You can also edit Authority's email.
  {% endblocktrans %}
</div>
<form method='POST' >
  {% csrf_token %}
  {{ form|crispy }}
  <div class='mt-3'>
    <button id='submitButton' type="submit" class='btn btn-primary' >{% translate "Submit" %}</button>
    <a class='btn btn-secondary' href='{% url "home" %}'>{% translate "Return" %}</a>
  </div>
</form>


{% endblock %}

{% block extra_script_no_compress %}
  {{ form.media }}
{% endblock %}