
  
  body {
    color:#011f4b;
  }

  .main-container {
    margin-top: 5rem;
  }

  .tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
}