
/* fira-sans-regular - greek_latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/fira-sans-v9-greek_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
         url('fonts/fira-sans-v9-greek_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/fira-sans-v9-greek_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/fira-sans-v9-greek_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/fira-sans-v9-greek_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/fira-sans-v9-greek_latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
  }
  /* fira-sans-600 - greek_latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/fira-sans-v9-greek_latin-600.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
         url('fonts/fira-sans-v9-greek_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/fira-sans-v9-greek_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/fira-sans-v9-greek_latin-600.woff') format('woff'), /* Modern Browsers */
         url('fonts/fira-sans-v9-greek_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/fira-sans-v9-greek_latin-600.svg#FiraSans') format('svg'); /* Legacy iOS */
  }
  /* fira-sans-900 - greek_latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/fira-sans-v9-greek_latin-900.eot'); /* IE9 Compat Modes */
    src: local('Fira Sans Black'), local('FiraSans-Black'),
         url('fonts/fira-sans-v9-greek_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/fira-sans-v9-greek_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/fira-sans-v9-greek_latin-900.woff') format('woff'), /* Modern Browsers */
         url('fonts/fira-sans-v9-greek_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/fira-sans-v9-greek_latin-900.svg#FiraSans') format('svg'); /* Legacy iOS */
  }
  
  body {
    color:#011f4b;
    font-family:'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }

  .main-container {
    margin-top: 5rem;
  }