{% extends "site_base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Authority List" %}{% endblock %}
{% block page_content %}

<ul>
{% for a in authorities %}
    <li>{{ a }} 
        <a class='btn btn-info btn-sm' href='{% url "authority_view" a.id %}'>{% trans "View" %}</a>
        <a class='btn btn-warning btn-sm' href='{% url "authority_update" a.id %}'>{% trans "Edit" %}</a>
        <a class='btn btn-warning btn-sm' href='{% url "authority_update_data" a.id %}'>{% trans "Edit users" %}</a>
    </li>
{% empty %}
    <li>{% trans "No authorities" %}</li>
{% endfor %}
</ul>
<a class='btn btn-primary' href='{% url "authority_create" %}'>{% trans "Create" %}</a>
{% endblock %}