{% extends "site_base.html" %}
{% load core_tags %}
{% load static %}
{% load i18n %}
{% block extra_style %}
<style>

</style>
{% endblock %}
{% block head_title %}E · T · S · D{% endblock %}
{% block body_class %}home{% endblock %}

{% block body %}
  <div class="bg-primary bg-gradient rounded-lg p-4 mb-5 text-light text-center rounded-1">
    <h1 class="display-3">E · T · S · D</h1>
    <h3 class="display-6">{% trans "Electronic Transmission of Sensitive Data" %}</h1>
    <p>{% trans "You can use this app to transmit sensitive data across your organization" %}</p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>{% trans "Key management" %}</h2>
      <p>
        {% blocktrans %}
          Using this app you can generate a private/public key pair. The private key will be encrypted with a passphrase.
          Both the private key and the passphrase must be saved by the user in a safe place and neither is ever send to
          the server. The public key will be submitted to the server.
        {% endblocktrans %}
      </p>
      
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      
    </div>
    <div class="col-md-4">
      {% if user.is_authenticated %}
        {% get_user_authority as user_authority %}

          <h4>{% trans "Welcome," %} {{ user }}</h4>
          <h6>
            {% if user_authority %}{{ user_authority }}{% else %}{% trans "No user authority" %}{% endif %}
          </h6>
          {% if perms.core.admin and perms.core.user %}
            <em>{% trans "Admin and user access" %}</em>
          {% elif perms.core.admin %}
            <em>{% trans "Admin access" %}</em>
          {% elif perms.core.user %}
            <em>{% trans "User access" %}</em>
          {% else %}
            <em>{% trans "No access!" %}</em>
          {% endif %}
      
          <hr />
      
          {% if perms.core.admin or  perms.core.user %}
            <a class="btn btn-primary btn-sm" href="{% url 'public_key_list' %}" role="button">Public key list</a>
            {% if user_authority %}
              <a class="btn btn-warning btn-sm" href="{% url 'authority_update_data' user_authority.id %}" role="button">{% translate "Edit Authority Data" %}</a></p> 
            {% endif %}
          {% endif %}
          {% if perms.core.user %}
              <a class="btn btn-primary btn-sm" href="{% url 'participant_list' %}" role="button">Messages</a>
              <a class='btn btn-warning btn-sm' href='{% url "privatekey_load" %}' role="button">Load private key</a>    
          {% endif %}
          {% if perms.core.admin %}
            <a class="btn btn-primary btn-sm" href="{% url 'message_list' %}" role="button">All Messages</a>
              <a class="btn btn-danger btn-sm" href="{% url 'authority_list' %}" role="button">{% translate "Authorities" %}</a></p>              
          {% endif %}
              
      {% else %}
        <p>
          Please login to use this site!
        </p>
        <a class="btn btn-primary" href="{% url "auth_login" %}" role="button">{% translate "Log in" %}</a></p>
      {% endif %}
    </div>
  </div>
    
{% endblock %}

{% block extra_script %}
<script>
  let who = 'world'
  console.log(interpolate(gettext('Hello %s!'), [who]))
</script>
{% endblock %}