{% extends "site_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block extra_style %}
  <style>
  .strike {
    border: 2px solid red !important;
    opacity: 0.6;
    filter: blur(2px);
    background-color: lightgray;
  }
  .select2 {
    all:inherit !important;
  }

  .select2-selection__choice {
    margin: 0px !important;
  }

  .select2-container--default .select2-selection--single {
      height: 38px  !important;
  }
  .select2-container .select2-selection--multiple {
    height: 38px  !important;
  }
  </style>
{% endblock %}

{% block head_title %}{% trans "New Message" %}{% endblock %}
{% block page_title %}{% trans "New Message" %}{% endblock %}
{% block page_content %}


<div class="row mb-3">
    <div class="col">
      <form method='POST' class='form'>
        {% csrf_token %}
        <div class='row'>
          <div class='col-md-6'>
            {{ form.kind|as_crispy_field }}
          </div>
          <div class='col-md-6'>
            {{ form.rel_message|as_crispy_field }}
          </div>
        </div>
         <div class='row'>
          <div class='col-md-6'>
            {{ form.available_to_sender|as_crispy_field }}
          </div>
          <div class='col-md-6'>
            {{ form.local_identifier|as_crispy_field }}
          </div>
        </div>

        {% include "partials/_inline_set.html" with inline_name='participant_set' inline_title="Recipient list" formset=inlines.0 %}

        <button id='submitButton'  type='submit' class='btn btn-success' >{% trans "Continue" %}</button>
        <a class='btn btn-secondary' href='{% url "participant_list" %}'>{% trans "Return" %}</a>
      </form>
    </div>
</div>

{% endblock %}

{% block extra_script_no_compress %}
  {{ inlines.0.media }}
  {{ app_form.media }}

{% endblock %}

{% block extra_script %}

<script>
$(function() {
    $('form').submit(function() {
        submit = $(this).find("input[type='submit']")
        submit.prop('disabled', true);
    });
})
</script>

<script src="{% static 'inline-editor.js' %}"></script>


<script>
    $(function() { 
        inlineEditor('participant_set');
    })

    function delClick(el) {
        if(el.checked) {
            el.parentElement.parentElement.parentElement.parentElement.classList.add('strike')
        } else {
            el.parentElement.parentElement.parentElement.parentElement.classList.remove('strike')
        }
    }

  </script>

{% endblock %}
