{% extends "site_base.html" %}
{% load i18n static %}
{% load rules_light_tags %}
{% block head_title %}{% trans "Message detail" %}{% endblock %}
{% block page_title %}{% trans "Message detail" %}{% endblock %}
{% block page_content %}

{% if message.status == 'DRAFT' %}
  <div class='alert alert-warning'> 
  <p>
  {% blocktrans %}
    Message is a Draft. You need to add some data (files) to the message by using the "Add data"
    button and then send it by pressing the "Send" button. Sending a message is possible only
    after you have added some data. You can use the add data functionality as many times as you want.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans %}
    If you have made some mistake you can delete the message completely by clicking the "Delete"
    button. However please keep in mind that this is only possible <b>before</b> sending the message. After 
    the message has been send there's no way to alter it or its contents; you need to send a "Fix" message
    and refer this one.
  {% endblocktrans %}
  </p>
  </div>
{% endif %}

<div class='row mb-3'>
  <div class='col'>
    <h5>{% trans "Participant status" %}: {{ participant.get_status_display }}</h5>
    <h5>{% trans "Message status" %}: {{ message.get_status_display }}</h5>
    {% trans "Kind" %}: {{ message.get_kind_display }}<br />
    {% if message.rel_message %} 
      {% trans "Related message" %}: 
      <a class='btn btn-sm btn-info' href='{% url "message_detail" message.rel_message.id %}'>{{ message.rel_message }}</a>
      <br />
    {% endif %}
    
    {% trans "Category" %}: {{ message.category|default:"-" }}<br />
    {% trans "Sent on" %}: {{ message.sent_on|default:"-" }}<br />
    {% trans "Local identifier" %}: {{ message.local_identifier|default:"-" }}<br />
    {% trans "Protocol" %}: {% if message.protocol %}{{ message.protocol }} / {{ message.protocol_year }}{% endif %}<br />

  </div>
  <div class='col'>
    <h5>{% trans "Participants" %}</h5>
    <table class='table table-sm table-striped table-bordered'>
      <thead>
        <tr>
          <th>{% trans "Authority" %}</th>
          <th>{% trans "Kind" %}</th>
          <th>{% trans "Public Key Fingerprint" %}</th>
          {% if message.status != "DRAFT" %}
          <th>{% trans "Has been read" %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for mp in message.participant_set.all %}
          <tr>
            <td>{{ mp.authority }}</td>
            <td>{{ mp.get_kind_display }}</td>
            <td>
              {% if mp.participantkey %}
                <a href='{{ mp.participantkey.public_key.confirmation_document.path }}' title='Id: {{ mp.participantkey.public_key.id }} '>
                  {{ mp.participantkey.public_key }}
                </a>
              {% else %}
                {% trans "Data will not be encrypted" %}
              {% endif %}
            </td>
            {% if message.status != "DRAFT" %}
            <td>
              {% if mp.status == "UNREAD" %} 
                &#10008
              {% else %}
                &#10004
              {% endif %} 
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

    


<div class='row'>
  <div class='col'>
    <h5>{% trans "Data" %}</h5>
    <table class='table table-sm table-striped table-bordered'>
      <thead>
        <tr>
          <th>{% trans "Number" %}</th>
          <th>{% trans "Extension" %}</th>
          <th>{% trans "Authority" %}</th>
          <th>{% trans "Decrypt" %}</th>
          <th>{% trans "Delete" %}</th>
        </tr>
      </thead>
      <tbody id='cipher-data-container'>
      </tbody>
    </table>
    
  </div>
</div>


{% rule 'msgs.message.add_data' message as can_add_data %}
{% rule 'msgs.message.send' message as can_send %}
{% rule 'msgs.message.delete' message as can_delete %}
{% rule 'msgs.message.archive' message as can_archive %}
{% rule 'msgs.message.unarchive' message as can_unarchive %}
{% rule 'msgs.message.reply' message as can_reply %}


{% csrf_token %}

<div class="row">
  <div class="col-md-12">
	  <a class='btn btn-info' href='{% url "participant_list" %}'>{% trans "Return" %}</a>

    {% if can_add_data %}
      <a class='btn btn-primary' href='{% url "message_add_data"  message.id %}'>{% trans "Add data" %}</a> 
    {% endif %}
    
    {% if can_delete %}
      <form id='deleteForm' class='d-inline' method='POST' action='{% url "message_delete" message.id %}'>
        {% csrf_token %}  
        <input type='submit' class='btn btn-danger' value='{% trans "Delete" %}'>
      </form>
    {% endif %}
    {% if can_send %}
      <form id='sendForm' class='d-inline' method='POST' action='{% url "message_send" message.id %}'>
        {% csrf_token %}
        <input type='submit' class='btn btn-success' value='{% trans "Send" %}'>
      </form>
    {% endif %}
    {% if can_archive %}
      <form id='archiveForm' class='d-inline' method='POST' action='{% url "message_archive" message.id %}'>
        {% csrf_token %}
        <input type='submit' class='btn btn-warning' value='{% trans "Archive" %}'>
      </form>
    {% endif %}
    {% if can_unarchive %}
      <form id='archiveForm' class='d-inline' method='POST' action='{% url "message_unarchive" message.id %}'>
        {% csrf_token %}
        <input type='submit' class='btn btn-warning' value='{% trans "Unarchive" %}'>
      </form>
    {% endif %}
    {% if can_reply %}
      <a class='btn btn-primary' href='{% url "message_create" %}{{reply_url}}'>{% trans "Reply" %}</a> 
    {% endif %}
   </div>
</div>

{{ authority_cipher_data|json_script:"authority-cipher-data" }}
{{ message_data|json_script:"message-data" }}

{% endblock %}
{% block extra_script_no_compress %}
  <script>
    const cipherDataFileUrl = '{% url "get_cipher_data_file" 1 %}'.slice(0,-2)
    const cipherDataDeleteUrl = '{% url "cipherdata_delete" 1 %}'.slice(0,-2)
    const privateKeyFingerprint = '{{ request.session.private_key_data.fingerprint }}'

  </script>
{% endblock %}

{% block extra_script %}
<script src='{% static "message_detail.js"' %}'></script>
{% endblock %}