<footer class='footer mt-auto py-3 text-center bg-dark text-light container-fluid'>
  {% if site_id == 1 or site_id == 2 %}
  <div class='row  pl-0 pr-0  ml-0 mr-0 pt-1'>
    <div class="col-md-12">
      <div class='alert alert-danger pb-1'>
        <h4>ΠΡΟΣΟΧΗ!!! Βρίσκεστε στην δοκιμαστική έκδοση της εφαρμογής.</h4>
        <h4>Για την παραγωγική έκδοση κάντε κλικ <a href='https://etsd.hcg.gr'>εδώ</a></h4>
      </div>
    </div>
  </div>
  {% endif %}

  <small>
    <div class="row pl-0 pr-0 ml-0 mr-0">
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <center>Copyright © 2021 &lt;SP&gt; </center>
        </div>
    </div>
  </small>
</footer>
