{% extends "site_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load core_tags %}
{% load i18n static %}


{% block head_title %}{% trans "Load private key" %}{% endblock %}
{% block page_title %}{% trans "Load private key" %}{% endblock %}
{% block page_content %}

<div class="row">
  <div class="col-md-12">
    <div class='alert alert-warning'> 
      {% get_user_authority as auth %}
      {% blocktrans  %}
        <p>
        You can load a Private Key through this form. This private key <u>will be 
        stored to your browser only</u>, i.e it will never be submited to our server.
        </p>
        <p>
          You need to select the private key file which must be in the ASCII armored format.
          Then enter the private key decryption passphrase. Now you can press the
          "validate" button to make sure that they key and passhrase are both correct. 
          If everything is ok the Private key information section will be filled with some
          of the key information or else you will see an error. Finally,
          press "load" button to actually load the key to your browser and be able to use it
          to decrypt data.

        </p>
        <p>
          <u>Please be extra careful while Private Key has been loaded to your browser.</u>
        </p>
      {% endblocktrans %}
    </div>
  </div>
</div>


<div class='row mb-3'>
  <div class="col">
    <label for="file" class="form-label">{% trans "Private Key File" %}</label>
    <input class="form-control" type="file" id="file">
  </div>
  <div class="col">
    <label for="passphrase" class="form-label">{% trans "Passpharse" %}</label>
    <input class="form-control" type="password" id="passphrase">
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <form method="POST" id='keyform' >
        {% csrf_token %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Private key information</h5>
            <div class='row'>
              <div class='col'>
                {{ form.fingerprint|as_crispy_field }}
              </div>

              <div class='col'>
                {{ form.user_id|as_crispy_field }}
              </div>
              <div class='col'>
                {{ form.creation_time|as_crispy_field }}
              </div>
            </div>
          </div> <!-- card body-->
        </div> <!-- card -->
        <div class='row'>
          <div class="col">
            <button  id='validateButton' type='button' class='btn btn-primary' >{% trans "Validate private key" %}</button>
            <button id='submitButton'  type='button' disabled class='btn btn-warning' >{% trans "Load private key" %}</button>
            <a class='btn btn-secondary' href='{% url "home" %}'>{% trans "Return" %}</a>
          </div>
        </div>

      </form>
    </div>
</div>


{% endblock %}

{% block extra_script %}

<script>

$(function() { 
  let privateKeyArmored = null;
  let passphrase = null;

  $('#validateButton').click(function() { 
    passphrase = $("#passphrase").val()
    if(!passphrase) {
      bootstrap5Alert({'message': "Please fill the passphrase", 'title': "ERROR"})
      return 
    }

    let files = $('#file').prop('files');
    if(files.length == 0) {
      bootstrap5Alert({'message': "Please select a private key file", 'title': "ERROR"})
      return 
    }
    const fileReader = new FileReader()
    
    fileReader.onload = function () {
      privateKeyArmored = fileReader.result;
      loadPrivateKey(privateKeyArmored, passphrase).then( key => {        
        $('#id_fingerprint').val(key.getFingerprint())
        $('#id_user_id').val(key.getUserIDs().join(','))
        $('#id_creation_time').val(key.getCreationTime().toLocaleString('el'))
        $('#submitButton').prop('disabled', false)

      }).catch(err => bootstrap5Alert({'message': err, 'title': "ERROR"}))
      
    };
    fileReader.readAsText(files[0])
    
    return 
    
  })

  $('#submitButton').click(function() { 
    localStorage.setItem('privateKeyArmored', privateKeyArmored)
    localStorage.setItem('privateKeyPassphrase', passphrase)
    $('#keyform').submit()
  })
})
</script>
{% endblock %}