{% extends "site_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load widget_tweaks %}
{% load core_tags %}
{% load i18n static %}


{% block head_title %}Public key approval submit{% endblock %}
{% block page_title %}Public key approval submit{% endblock %}
{% block page_content %}

<div class="row">
  <div class="col-md-12">
    <div class='alert alert-info'> 
      {% get_user_authority as auth %}
      {% blocktranslate  with auth_name=auth.name  fingerprint=publickey.fingerprint %}
        <p>
        You can submit a new public key for approval through this form. You need then to generate the confirmation document. 
        This must be a properly signed document that will declare that:
        </p>
        <p>
        <em>The public key for the authority <b>{{ auth_name }}</b> has the fingerprint 
        <b>{{ fingerprint }}</b></em>.
        </p>
        <p>
         and upload it in the corresponding file field.

        You will then need to press the Validate button to confirm that the private key you have loaded is 
        the pair of the public key you want to get approved.
        </p>
        <p>
        The key will be used only after it has been approved by the administrators and <b>will
        replace the current key of your authority</b> (if it has one).
        </p>
      {% endblocktranslate  %}
    </div>
  </div>
</div>
<b>
Fingerprint: {{ form.instance.fingerprint }} <br />
User id: {{ form.instance.user_id }}
</b>
<div class="row">
    <div class="col-md-12">
      <form class='form' method="POST" id='keyform' enctype="multipart/form-data" >
        {% csrf_token %}
        <div class='row'>
          <div class='col'>
            {{ form.confirmation_document|add_class:"form-control"|as_crispy_field }}
          </div>
        </div>
        <button  id='validateButton' type='button' class='btn btn-primary' >{% trans "Validate" %}</button>
        <button id='submitButton'  type='button' disabled class='btn btn-success' >{% trans "Submit" %}</button>
        <a class='btn btn-secondary' href='{% url "public_key_list" %}'>{% trans "Return" %}</a>
      </form>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script>

$(function() {
  const publicKeyArmored = `{{ publickey.key }}`;
  console.log(publicKeyArmored)

  $('#validateButton').click(function() { 
    
    const publicPromise = loadPublicKey(publicKeyArmored)
    const privatePromise = loadPrivateKeyLocal()

    Promise.all([publicPromise, privatePromise]).then( ([publicKey, privateKey]) => {
      console.log(publicKey)
      console.log(privateKey)
      signAndVerify(publicKey, privateKey).then( verified => {
        if(verified) {
          $('#validateButton').prop('disabled', true)
          $('#submitButton').prop('disabled', false)
        }
      }).catch( (err) => {
        bootstrap5Alert({'message': err, 'title': "ERROR"})
      })

    })
    
  })

  $('#submitButton').click(function() { 
    $(this).closest('form').submit()
  })
})
</script>
{% endblock %}