{% extends "site_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n static %}


{% block head_title %}{% blocktrans with pid=publickey.id %}Public key {{ pid }} detail{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans with pid=publickey.id %}Public key {{ pid }} detail{% endblocktrans %}{% endblock %}
{% block page_content %}

<div class="row">
  <!-- Modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Public Key Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you want to Accept or Reject this public key?
        </div>
        <div class="modal-footer">
          <form method="POST">
            {% csrf_token %}
            <button id='acceptButton' type="submit" name="acceptKey" class='btn btn-primary' >{% translate "Accept" %}</button>
            <button id='rejectButton' type="submit" name="rejectKey" class='btn btn-warning'>{% translate "Reject" %}</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "Cancel" %}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <b>{% translate "ID" %}</b>: {{ publickey.id }}<br />
    <b>{% translate "Authority" %}</b>: {{ publickey.authority }}<br />
    <b>{% translate "Status" %}</b>: {{ publickey.get_status_display }}<br />
    <b>{% translate "Created on" %}/by</b>: {{ publickey.created_on }} / {{ publickey.created_by }}<br />
    <b>{% translate "Fingerprint" %}</b> <code>{{ publickey.fingerprint }}</code><br />
    <b>{% translate "Confirmation document" %}</b> <a href='{{ publickey.confirmation_document.url }}'>{% translate "Download" %}</a>
    {% if publickey.status == 'PENDING' %}
      <div class="alert alert-warning">
        The public key needs confirmation by the administration in order to be used. 
      </div>
      {% if perms.core.admin %}
        <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">{% translate "Confirmation" %}</button>
      {% endif %}
    {% endif %}


  </div>
  <div class="col-md-6">
    
      <h5>Key text</h5>
      <code>
      <pre>
      {{ publickey.key }}
      </pre>
      </code>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <a class='btn btn-secondary' href='{% url "public_key_list" %}'>Return</a>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src='{% static "openpgp/openpgp.min.js" %}'></script>
<script src='{% static "jquery-3.5.1.min.js" %}'></script>
<script src='{% static "modal/popper.min.js" %}'></script>
<script src='{% static "modal/bootstrap.min.js" %}'></script>
<script>

const loadPK = (async(key_data) => {
    
    let publicKey = await openpgp.readKey({
        armoredKey: key_data
    });
    let fingerprint = publicKey.keyPacket.getFingerprint()
    
    return {key_data, fingerprint}
    
})

$(function() { 
  $('#validateButton').click(function() { 
    
    let keyVal = $('#id_key').val()
    
    loadPK(keyVal).then( ({key_data, fingerprint}) => {
      console.log(key_data, fingerprint)
      $('#id_fingerprint').val(fingerprint)
      $('#id_key').prop('readonly', true)
      $('#validateButton').prop('disabled', true)
      $('#submitButton').prop('disabled', false)
    }).catch(err => {
      bootstrap5Alert({'message': err, 'title': "ERROR"})
    })
  })

  $('#submitButton').click(function() { 
    $(this).closest('form').submit()
  })
})
</script>
{% endblock %}