{% extends "site_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n static %}


{% block head_title %}Public key submit{% endblock %}
{% block page_title %}Public key submit{% endblock %}
{% block page_content %}

<div class="row">
  <div class="col-md-12">
    <div class='alert alert-info'> 
      {% blocktrans %}
        <p>
        You can submit a new public key through this form. The publickey must be in the ASCII armored format i.e it 
        should start with <code>-----BEGIN PGP PUBLIC KEY BLOCK-----</code> contain the key data in printable ASCII
        format (base64 encoded) and end with <code>-----END PGP PUBLIC KEY BLOCK-----</code>.
        </p>
        <p>
        After you copy over the public key text in the corresponding field, you need to press the <b>Validate</b> 
        button to validate its correctness. If everything is correct, the fingerprint of the key will be filled
        and you will be click the <b>Submit</b> button.
        </p>
        <p>
        Please notice that after you submit this you must communicate with the administrator and confirm that the
        fingerprint is correct.
        </p>
      {% endblocktrans %}
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <form method="POST" id='keyform'>
        {% csrf_token %}
        {{ form|crispy }}
        <button  id='validateButton' type='button' class='btn btn-primary' >{% trans "Validate" %}</button>
        <button id='submitButton'  type='button' disabled class='btn btn-success' >{% trans "Submit" %}</button>
        <a class='btn btn-secondary' href='{% url "public_key_list" %}'>{% trans "Return" %}</a>
      </form>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script src='{% static "openpgp/openpgp.min.js" %}'></script>
<script>

const loadPK = (async(key_data) => {
    
    let publicKey = await openpgp.readKey({
        armoredKey: key_data
    });
    let fingerprint = publicKey.keyPacket.getFingerprint()
    
    return {key_data, fingerprint}
    
})

$(function() { 
  $('#validateButton').click(function() { 
    
    let keyVal = $('#id_key').val()
    
    loadPK(keyVal).then( ({key_data, fingerprint}) => {
      console.log(key_data, fingerprint)
      $('#id_fingerprint').val(fingerprint)
      $('#id_key').prop('readonly', true)
      $('#validateButton').prop('disabled', true)
      $('#submitButton').prop('disabled', false)
    }).catch(err => {
      bootstrap5Alert({'message': err, 'title': "ERROR"})
    })
  })

  $('#submitButton').click(function() { 
    $(this).closest('form').submit()
  })
})
</script>
{% endblock %}