{% extends "site_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n static %}


{% block head_title %}{% blocktrans with pid=publickey.id %}Public key {{ pid }} detail{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans with pid=publickey.id %}Public key {{ pid }} detail{% endblocktrans %}{% endblock %}
{% block page_content %}

<div class="row">
  <div class="col-md-6">
    <b>{% translate "ID" %}</b>: {{ publickey.id }}<br />
    <b>{% translate "Authority" %}</b>: {{ publickey.authority }}<br />
    <b>{% translate "Status" %}</b>: {{ publickey.get_status_display }}<br />
    <b>{% translate "Created on" %}/{% translate "by" %}</b>: {{ publickey.created_on }} / {{ publickey.created_by }}<br />
    <b>{% translate "Fingerprint" %}</b>: <code>{{ publickey.fingerprint }}</code><br />
    <b>{% translate "Description (user id)" %}</b>: <code>{{ publickey.user_id }}</code><br />
    {% if publickey.confirmation_document %}
      <b>{% translate "Confirmation document" %}</b> <a href='{{ publickey.confirmation_document.url }}'>{% translate "Download" %}</a><br />
    {% endif %}

    {% if publickey.approved_on %}
      <span class='text-success'>
        {% translate "Approved on" %}: {{ publickey.approved_on }}<br />
      </span> 
    {% endif %}
    {% if publickey.status == 'NEW' %}
      <div class='alert alert-info'>
        {% trans "The key cannot be used until it has been submitted for approval" %}
      </div>
      {% if request.user.get_authority ==  publickey.authority %}
        {% if request.session.private_key_data %}
          <a class='btn btn-success' href='{% url "public_key_submit" publickey.id %}'>{% trans "Submit for approval" %}</a>
        {% else %}
          <div class='alert alert-warning'>
            {% trans "You must load the private key of the key pair in order to be able to submit this public key for approval!" %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if publickey.status == 'PENDING' %}
      <div class="alert alert-warning">
        {% trans "The public key needs confirmation by the administration in order to be used." %}
      </div>
      {% if perms.core.admin %}
      <form action="{% url 'publickey_accept' publickey.id %}" method="POST" style="display:inline">
        {% csrf_token %}
        <input type="hidden" id="id_status" name="status" value="">
        <button id='accButton' type="submit" name="acceptKey" class='btn btn-success' >{% translate "Accept" %}</button>
        <button id='rejButton' type="submit" name="rejectKey" class='btn btn-danger'>{% translate "Reject" %}</button>
      </form>
      {% endif %}
    {% endif %}
  </div>
  <div class="col-md-6">
    
      <h5>{% translate "Key text" %}</h5>
<code>
<pre>
{{ publickey.key }}
</pre>
</code>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <a class='btn btn-secondary' href='{% url "public_key_list" %}'>{% translate "Return" %}</a>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src='{% static "openpgp/openpgp.min.js" %}'></script>
<script>
  $(document).ready(function(){
    $('#accButton').click(function(evt){
      evt.preventDefault();
      document.getElementById("id_status").value = 'ACTIVE';
      bootstrap5Alert({
        'message': gettext('Are you sure you want to accept this public key?'), 
        'title': gettext('Accept key'),
        'actionText': gettext('Accept'),
        'color': 'success',
        cb: () => {
        console.log("Submit form");
        evt.target.closest('form').submit();
      }});
    });
  }); 
  
  $(document).ready(function(){
    $('#rejButton').click(function(evt){
      evt.preventDefault();
      document.getElementById("id_status").value = 'REJECTED';
      bootstrap5Alert({
        'message': gettext('Are you sure you want to reject this public key?'), 
        'title': gettext('Reject key'),
        'actionText': gettext('Reject'),
        'color': 'danger',
        cb: () => {
        console.log("Submit form");
        evt.target.closest('form').submit();
      }});
    });
  }); 
</script>
<script>

const loadPK = (async(key_data) => {
    
    let publicKey = await openpgp.readKey({
        armoredKey: key_data
    });
    let fingerprint = publicKey.keyPacket.getFingerprint()
    
    return {key_data, fingerprint}
    
})



$(function() { 
  $('#validateButton').click(function() { 
    
    let keyVal = $('#id_key').val()
    
    loadPK(keyVal).then( ({key_data, fingerprint}) => {
      console.log(key_data, fingerprint)
      $('#id_fingerprint').val(fingerprint)
      $('#id_key').prop('readonly', true)
      $('#validateButton').prop('disabled', true)
      $('#submitButton').prop('disabled', false)
    }).catch(err => {
      bootstrap5Alert({'message': err, 'title': "ERROR"})
    })
  })

  $('#submitButton').click(function() { 
    $(this).closest('form').submit()
  })
})
</script>
{% endblock %}